@{
    string userId;
    try
    {
        userId = Session["userId"].ToString();
    }
    catch (Exception e)
    {
        userId = "";
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <link rel="stylesheet" href="../../Content/Layout.css" />
</head>
<body>
<div class="navbar">
    <a href="/" >Home</a>
    @{
        if (userId != "")
        {
            <a href="/keyboard" >Keyboard</a>
        }
    }
    <a href="/about" >About</a>
    <a href="/contact" >Contact</a>
    @{
        if (userId == "")
        {
            <a href="/login">Login</a>
        }
        else
        {
            <a href="/login/logout">Logout</a>
        }
    }
</div>
@RenderBody()
</body>
</html>