.form-container {
    text-align: center;
}

h1 {
    text-align: center;
}

.form-container input {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    border: none;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-size: 1.5rem;
}

.form-container button {
    margin-top: 5%;
    width: 25%;
    padding: 2% 4%;
    border: none;
    border-radius: 8px;
}

.form-container button:hover {
    background-color: gainsboro;
}